table, td, tr {
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: #EFEFEF;
}

.header {
    color: #F66B0E;
}

p {
    color: #112B3C;
}