html {
    margin: 0;
}

table, td, tr {
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: #EFEFEF;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: #112B3C;
}

header {
    background-color: #F66B0E;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 2px solid #112B3C;
    top: 0;
    text-align: center;
}

h1 {
    position: relative;
}

ul {
    margin: 0;
    text-align: left;
}

li {
    color: #112B3C;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 55px;
}

a {
    color: #112B3C;
    text-decoration: none;
}

.HTML {
    position: relative;
    margin: 50px;
    top: 30px;
}

.CSS {
    position: relative;
    top: 50px;
}

.JavaScript {
    position: relative;
}

.header {
    color: #112B3C;
}

header li:hover {
    background-color: #ffa264;
}

header a:active {
    color: #EFEFEF;
}